@import 'nib'

html, body
  margin: 0
  padding: 0

.grid
  // border: 1px solid red
  height: 250%
  transform: scale(0.4)
  transform-origin: 0% 0%
  width: 250%

.site iframe
  border: 2px solid #CCC
  margin: 30px

  transition-property: width, height
  transition-duration: 0.3s


.cursor
  background: url('/images/cursor.png')
  position: absolute
  width: 100px
  height: 100px

  transition-property: none


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  transition-duration: 0.8s;
}

.isotope {
  transition-property: height, width;
}

.isotope .isotope-item {
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  transition-duration: 0s;
}
