@import 'nib'

html, body
  margin: 0
  padding: 0

body
  background: url('/images/retina_wood.png')

.grid
  height: 300%
  transform: scale(0.33)
  transform-origin: 0% 0%
  width: 300%

.site
  margin: 30px

  &.chrome.osx
    background: url(/images/browser/browser-osx-chrome-left.png) left top no-repeat, url(/images/browser/browser-osx-chrome-right.png) right top no-repeat, url(/images/browser/browser-osx-chrome-bg.png) left top repeat-x
    iframe
      margin-top: 72px

  &.chrome.windows
    background: url(/images/browser/browser-windows-chrome-left.png) left top no-repeat, url(/images/browser/browser-windows-chrome-right.png) right top no-repeat, url(/images/browser/browser-windows-chrome-bg.png) left top repeat-x
    iframe
      margin-top: 61px

  &.chrome.linux
    background: url(/images/browser/browser-linux-chrome-left.png) left top no-repeat, url(/images/browser/browser-linux-chrome-right.png) right top no-repeat, url(/images/browser/browser-linux-chrome-bg.png) left top repeat-x
    iframe
      margin-top: 86px

  &.firefox.osx
    background: url(/images/browser/browser-osx-firefox-center.png) center top no-repeat, url(/images/browser/browser-osx-firefox-left.png) left top no-repeat, url(/images/browser/browser-osx-firefox-right.png) right top no-repeat, url(/images/browser/browser-osx-firefox-bg.png) left top repeat-x
    iframe
      margin-top: 87px

  &.firefox.windows
    background: url(/images/browser/browser-windows-firefox-left.png) left top no-repeat, url(/images/browser/browser-windows-firefox-right.png) right top no-repeat, url(/images/browser/browser-windows-firefox-bg.png) left top repeat-x
    iframe
      margin-top: 63px

  &.firefox.linux
    background: url(/images/browser/browser-linux-firefox-left.png) left top no-repeat, url(/images/browser/browser-linux-firefox-right.png) right top no-repeat, url(/images/browser/browser-linux-firefox-bg.png) left top repeat-x
    iframe
      margin-top: 90px

  &.safari.osx
    background: url(/images/browser/browser-osx-safari-center.png) center top no-repeat, url(/images/browser/browser-osx-safari-left.png) left top no-repeat, url(/images/browser/browser-osx-safari-right.png) right top no-repeat, url(/images/browser/browser-osx-safari-bg.png) left top repeat-x
    iframe
      margin-top: 72px

  &.safari.windows
    background: url(/images/browser/browser-windows-safari-center.png) center top no-repeat, url(/images/browser/browser-windows-safari-left.png) left top no-repeat, url(/images/browser/browser-windows-safari-right.png) right top no-repeat, url(/images/browser/browser-windows-safari-bg.png) left top repeat-x
    iframe
      margin-top: 72px



  iframe
    border: 2px solid #CCC
    box-shadow: 0 5px 14px rgba(0,0,0,0.4)

    transition-property: width, height
    transition-duration: 0.3s


.cursor
  border-radius: 50px
  background-color: #000
  opacity: .7
  position: absolute
  width: 100px
  height: 100px


/**** Isotope Filtering ****/

.isotope-item
  z-index: 2

.isotope-hidden.isotope-item
  pointer-events: none
  z-index: 1

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item
  transition-duration: 0.8s

.isotope
  transition-property: height, width

.isotope .isotope-item
  transition-property: transform, opacity

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition
  transition-duration: 0s
