@import 'nib'

html, body
  margin: 0
  padding: 0

.grid
  // overflow: hidden
  height: 100%
  width: 100%

.site
  border: 0
  position: absolute
  transform: scale(1)
  transition: scale linear 1s
