extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js")

  script(src="/js/util.js")
  script(src="/js/main.js")

  script(src="/socket.io/socket.io.js")
  script
    var socket = io.connect('http://localhost');

    // collects initial info the page (size, scroll position)
    //- socket.emit('update', {});
    
    // periodically send updates

    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });